.add_product_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 50px;
    margin: 6% auto;
    box-shadow: 0 5px 10px #1f313421;

    .button {
        height: 50px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 0.9rem;
        color: #27d3d3;
        transition: 0.16s;
        background-color: #282828;
        width: 40%;
        align-self: center;
        margin-top: 15px;

        &:hover {
            cursor: pointer;
            background-color: #000000;
        }
    }
}


@media only screen and (max-width: 768px) {
    .add_product_form {
        padding: 40px 25px;

        .button {
            height: 50px;
            width: 50%;
        }
    }
}

@media only screen and (max-width: 360px) {
    .add_product_form {
        padding: 40px 25px;

        .button {
            height: 50px;
            width: 100%;
        }
    }
}