  .input_group {
      display: flex;
      flex-direction: column;
      margin-bottom: 17px;

  }

  label {
      margin-bottom: 6px;
  }

  input,
  select,
  textarea {
      border: 1px solid #e6e6e6;
      padding: 5px;

      &:focus-visible,
      &:focus,
      &:active {
          outline: 1px solid #e6c9c9;
      }

      &::placeholder {
          color: rgb(180, 180, 180)
      }
  }

  input,
  select {
      height: 30px;
  }

  textarea {
      height: 100px;
  }