.cart {
    background: white;
    border: 1px solid #ebebeb;
    padding: 15px;
    position: absolute;
    top: 40px;
    min-height: 200px;
    width: 300px;
    right: 0;
    box-shadow: 0 4px 5px #f6f3f3;
}