@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Outfit&family=Quicksand:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --fast: 0.12s ease-in;
  --brandColor: #df2aff;
  --dark_1: #272727;
  --dark_2: #484848;
  --gray_1: #888;
  --light_1: #f6f6f6;
  --shad_1: 0 4px 7px #8e8e8e2e
}

body,
html {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  min-height: 110vh;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

.container {
  width: 77%;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 30px;
  box-sizing: border-box;

  &._wide {
    width: 100%;
  }
}

h1.page_title {
  font-family: Bitter;
  margin-bottom: 0.8em;
  font-size: 2.8rem;
  color: #e03cfd;
}

.negative_margins {
  margin: 0 -15px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;

    &._wide {
      width: 100%;
    }
  }

  .negative_margins {
    margin: 0 0;
  }
}

@media only screen and (max-width: 380px) {
  .container {
    width: 100%;
    padding: 0 7.5px;

    &._wide {
      width: 100%;
    }
  }

  .negative_margins {
    margin: 0 0;
  }
}