   nav ul {




       display: flex;
       justify-content: space-between;
       margin-left: -20%;
       align-items: center;


       .nav_item {
           position: relative;
       }

       .nav_link,
       .toggle {
           color: rgb(223, 42, 255);
           text-decoration: none;
           font-weight: 600;
       }

       .toggle:hover {
           cursor: pointer;
       }

       .toggle_items_container {
           display: flex;
           width: 103%;
           justify-content: space-between;
           align-items: center;

           .curret {
               font-size: 0.9rem;
               transform: rotate(-90deg);

               &.rotate-90 {
                   transform: rotate(90deg);
               }
           }


       }

       .active {
           color: rgb(223, 42, 255);
           border-bottom: 1.5px solid;
           text-decoration: none;
           font-weight: 600;
       }
   }